@font-face {
    font-family: "Myfont";
    src: url(BruceForeverRegular-X3jd2.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Myfont";
    outline: none;
}

body {
    background: url("clone-bg.jpg") no-repeat center center/cover;
    width: 100%;
}

/* background for popup  */
.backgroung-area-blur {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

/* background area  */
.bg {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Navbar section  */
#navbar {
    /* border: 1px solid red; */
    width: 70%;
    margin: auto 50px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    width: 100px;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.nav-btn .nav-btntxt {
    opacity: 0;
}

.nav-btn:hover .nav-btntxt {
    opacity: 1;
    transition: 0.5s ease;

}

.nav-btn:hover {
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease;
}

.hbtn:hover {
    width: 150px;
}

.nav-btn:active {
    transform: scale(0.9);
}

.nav-btntxt {
    font-family: "Myfont";
    font-size: 16px;
}

.fa-solid {
    font-size: 30px;
    margin: 10px;
}

.fa-solid.fa-lightbulb {
    color: #ffcc00;
}

/* setting popup section  */
.setting-popup,
.hint-popup,
.retry-popup,
.win-popup,.showrule {
    position: absolute;
    top: 0%;
    left: 50%;
    background: linear-gradient(135deg, #001a33, #00001a);
    transform: translate(-50%, -50%) scale(0.2);
    width: 400px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease, top 0.6s ease;
    visibility: hidden;
    z-index: 1;
    opacity: 0.9;
}

.preview-popup{
    position: absolute;
    top: 0%;
    left: 50%;
    background: linear-gradient(135deg, #001a33, #00001a);
    transform: translate(-50%, -50%) scale(0.2);
    width: 800px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease, top 0.6s ease;
    visibility: hidden;
    z-index: 1;
    opacity: 0.9;
}


.show-setting-popup,
.show-hint-popup,
.show-retry-popup,
.show-win-popup,.show-rule,.show-preview-popup {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}

.setting-h2,
.hint-h2 {
    text-align: center;
    font-family: "Myfont";
    font-size: 25px;
    text-shadow: 5px 5px 12px black;
    color: white;
    padding: 10px;
    margin: 10px;
}

.settings-btn {
    position: absolute;
    right: 0;
    color: white;
    text-shadow: 2px 5px 12px black;
    border: none;
    background-color: transparent;
    margin: 7.5px;
    padding: 5px 10px;
    cursor: pointer;
}

.settings-btn:active {
    transform: scale(0.9);
}

.setting-para,
.hint-para {
    text-align: center;
    font-size: 15px;
    padding: 5px 24px;
    color: white;
    text-shadow: 5px 5px 12px black;
    font-family: "Myfont";
}

.music-btn {
    display: block;
    border: none;
    background-color: transparent;
    font-family: "Myfont";
    color: white;
    text-shadow: 2px 5px 12px black;
    font-size: 15px;
    align-items: center;
    padding: 10px;
    width: 150px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}

.music-btn:active {
    transform: scale(0.9);
}

.setting-home-btn,
.hint-home-btn {
    position: absolute;
    left: 0;
    margin: 25px 15px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: white;
    border: none;
    font-size: 15px;
    transform: scale(1);
    font-family: "Myfont";
}

.setting-home-btn:active,
.hint-home-btn:active {
    transform: scale(0.9);
}

.hint-home-btn {
    bottom: 10%;
}

.premium-btn {
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
    border: none;
    border-radius: 15px;
    margin: 15px;
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-family: "Myfont";
}

.premium-btn>a {
    text-decoration: none;
    color: black;
}

.setting-home-btn>a,
.hint-home-btn>a {
    text-decoration: none;
    color: black;
}

.setting-hint-bnt,
.hint-setting-bnt {
    position: absolute;
    right: 0;
    margin: 25px 15px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: white;
    border: none;
    font-size: 15px;
    font-family: "Myfont";
    cursor: pointer;
}

.setting-hint-bnt:active,
.hint-setting-bnt:active {
    transform: scale(0.9);
}

.hint-setting-bnt {
    bottom: 10%;
}

/* time area  */
.timebox {
    width: 250px;
    height: 80px;
    position: absolute;
    top: 0;
    margin: 10px;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Myfont";
}

#showtimebox {
    margin-left: 10px;
}

.restart,
.home,
.next,
.preview {
    width: 12%;
    height: 30px;
    /* border: 1px solid red; */
    position: absolute;
    right: 7%;
    top: 35%;
}

.restart-btn,
.home-btn,
.next-btn,
.preview-btn {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    box-shadow: 5px 3px 12px rgba(0, 0, 0, 0.3);
    padding: 10%;
    display: flex;
    font-family: "Myfont";
    font-size: 15px;
    justify-content: center;
    background: linear-gradient(135deg, #001a33, #00001a);
    opacity: 0.85;
    color: white;
    align-items: center;
    cursor: pointer;
}

.restart-btn:active,
.home-btn:active,
.next-btn:active,
.preview-btn:active {
    transform: scale(0.97);
}

.retrypopupbtn{
    top: 45%;
}

.rulepara{
    padding: 20px 40px;
}

.imgpre{
    width: 95%;
    margin: auto;
    height: 75%;
    /* bordesr: 1px solid red; */
}
.preimg{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

/* Game Area  */
#gamearea {
    width: 100%;
    height: 500px;
}

.lvl {
    font-family: "Myfont";
    margin: 10px 500px;
    font-size: 30px;
}

.finallvl {
    font-family: "Myfont";
    margin: 10px 420px;
    font-size: 30px;
}

/* Game Area Board part  */
.gameboard {
    width: 60%;
    height: 500px;
    margin: auto 100px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    perspective: 1000px;
}

.g-card {
    width: 23.8%;
    height: 23%;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: 1s ease;
}

.g-card:active {
    transform: scale(0.9);
    transition: 0.5s ease;
}

.g-card.flip {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    padding: 10px 50px;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front {
    border: 1px solid black;
    transform: rotateY(180deg);
}


/* restart btn  */
.restart {
    top: 43%;
}

/* home btn  */
.home {
    top: 51%;
}

.home-btn>a {
    text-decoration: none;
    color: white;
}

/* next btn  */
.next-btn>a {
    text-decoration: none;
    color: white;
}

/* level btn  */
.preview {
    top: 59%;
}

.level-btn>a {
    text-decoration: none;
    color: white;
}

/* Moves area  */
.score {
    width: 180px;
    height: 40px;
    position: absolute;
    top: 5%;
    right: 5%;
}

/* win area popup  */
.winhead {
    text-align: center;
    margin: 50px 50px 30px 50px;
    color: white;
    font-size: 35px;
}

.win-popup>a {
    text-decoration: none;
    color: white;
}

.winhomebtn,
.playagain,
.nxtlvl {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #00001a;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 33%;
    left: 38%;
}

.playagain {
    top: 73%;
    left: 7%;
}

.nxtlvl {
    top: 73%;
    width: 150px;
    padding: 10px 2px;
    left: 55%;
}

.winhomebtn:active,
.playagain:active,
.nxtlvl:active {
    transform: scale(0.8);
}

.winsco{
    border: 1px solid white;
    color: #00001a;
    background-color: white;
    width: 155px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    height: 42px;
    font-size: 18px;
    position: absolute;
    top: 52.5%;
    left: 30%;
}

.win-popup>p{
    color: white;
    padding: 25px 25px 0px 25px;
    text-align: center;
}

.newbtn{ 
    top: 80%;
    left: 30%;
}

.foot {
    width: 50%;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}
